@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@font-face {
  font-family: 'Fashion Victim';
  src: url(fonts/fashion-victim.woff2) format('woff2');
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body {
  background-color: black;
  color: white;
}

.container {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding-top: 4rem;
  background-image: url(img/suit.jpg), url(img/bg.jpg);
  background-position: center, center;
  background-repeat: no-repeat, repeat-x;
  height: 360px;
}

h1.site-title {
  font-family: 'Fashion Victim';
  font-size: 6rem;
  font-weight: normal;
  text-align: center;
}

h1.site-title span {
  margin: 0 2rem;
}

.product {
  margin-top: -5rem;
  padding: 3rem;
  background-color: #141518;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.produc__wrapper {
  display: flex;
}

.product__image {
  width: 6rem;
  height: auto;
}

.t-shirt {
  stroke: #000;
  stroke-width: 2;
}

/* layout */

.color {
  margin-left: 45px;
}

.color__options {
  display: flex;
}

.color__option {
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55px;
}

/* choice of colors */
.color__box {
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 3px #ffffff;
}

.color__box--white {
  background-color: white;
}

.color__box--black {
  background-color: black;
}

.color__box--red {
  background-color: #953232;
}

.color__box--blue {
  background-color: skyblue;
}

.color__name {
  text-align: center;
}

/* highlight chosen color */
.product__chosen {
  box-shadow: 0px 0px 3px 3px red;
}

/* button Objednat */
.btn-order {
  background-color: transparent;
  border: solid 2px #e1e1df;
  padding: 20px;
  color: #e1e1df;
  padding: 10px 40px;
  border-radius: 25px;
}
